h1 {
	font-size: 2em;
	}

h2 {
	font-size: 1.6em;
	}

.btn {
	display: inline-block;
	}

.logo {
	margin: 0;
	font-size: 1.6em;
	position: relative;
	z-index: 1;
	}

.logo a {
	display: block;
	width: 120px;
	height: auto;
	padding: 0.6em 1em 0.4em 0.7em;
	}

.logo img {
	width: 120px;
	height: auto;	
	}

.nav-anchors {
	float: right;
	}

.nav-anchors li {
	display: inline-block;
	}

.nav-anchors a {
	display: block;
	padding: 0.75em 0.8em;
	border-left: 1px solid #333;
	}

.nav-anchors a.active {
	color: #fff;
	}

header[role="banner"] .nav {
	float: left;
	clear: none;
	margin: 0;
	border-top: 0;
	}

.search {
	border: 0;
	padding: 0;
	position: absolute;
	top: 0.8em;
	right: 1em;
	width: 10em;
	}

.queryselectorall .search, .queryselectorall [role="banner"] .nav {
	display: block;
	}

.product-main {
	padding-bottom: 2em;
	}
.product-img {
	float: left;
	width: 50%;
	height: auto;
	margin-top: -4.8em;
	}
.product-main > header {
	padding-top: 1em;
	}

.product-main > header, .product-desc, .product-form, .product-utils, .product-description {
	padding-left: 2em;
	margin-left: 50%;
	}

/*Aux content*/
.aux {
	padding: 1em 0;
	}
.aux header {
	cursor: default;
	padding: 0;
	border: 0;
	}
.aux header a:after, .aux header a.open:after {
	content: "";
	}
[aria-hidden="true"] {
	display: block;
	}
.product-description header {
	display: none;
	}
.reviews {
	padding-bottom: 3em;
	}

